@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=IBM+Plex+Sans:wght@500&family=Mukta&family=Open+Sans:wght@500&family=Roboto+Condensed&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: orange;
  scroll-behavior: smooth;
}
/* Made with ♥ by Harsh Parakh */